@model IEnumerable<Fastigheter.Models.Bostad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <!-- //TM #16a DisplayNameFor-raden ska se ut enligt nedan -->
            @Html.DisplayNameFor(model => model.Fastighet.Gatuadress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nummer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <!-- //TM #16b DisplayNameFor-raden ska se ut enligt nedan -->
            @Html.DisplayFor(modelItem => item.Fastighet.Gatuadress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nummer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

<!-- //TM #16c Nu ska man spara all sin kod... -->
<!-- //TM #16d ... göra en Build -->
<!-- //TM #16e ... och köra Add-Migration och Update-Database direkt därefter! -->




</table>
